{assign scope="global" var="page_titre" value="Le programme d'étude télémétrique des bouquetins"}

<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/actus/2013-04/2013-04-18-capt-ibex1.jpg" class="img-responsive img-rounded"/></p>
<p><strong>Une importante opération de capture pour équiper des bouquetins de collier GPS est en cours dans les Ecrins.
Elle va permettre de mieux connaître les déplacements des animaux et de réaliser un point sanitaire sur les populations 
réintroduites dans le Parc national voilà bientôt vingt ans.</strong></p>
<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;"><iframe allowfullscreen="" width="100%" height="300" frameborder="0" src="http://www.dailymotion.com/embed/video/x11ykcw"></iframe></div>
<div><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/large/public/article/11177/body/logos-eur-regions.jpg" target="_target"/></div>
<p><a class="btn btn-primary pull-right" href="http://www.ecrins-parcnational.fr/actualite/des-bouquetins-geolocalises" target="_blank">Lire la suite de l'article</a></p>
		