{assign scope="global" var="page_titre" value="La bouquetin des Alpes"}

<img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/jeunes-decouvreurs/ressources/ressource-bouquetin-01.jpg" alt="ressource-bouquetin-01" class="img-responsive img-rounded" />
<p>C'est une belle matinée de printemps. Les gardes-moniteurs,
accompagnés de vétérinaires, observent les bouquetins descendus
chercher l'herbe printanière.</p>
<img alt="ressource-bouquetin-02" src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/jeunes-decouvreurs/ressources/ressource-bouquetin-02.jpg" class="img-responsive img-rounded" />
<p>La harde, une trentaine de boucs, est calme. Certains sont
couchés, d'autres broutent, quelques-uns s'affrontent : cabrés sur
leurs pattes arrières, ils se jettent l'un sur l'autre et entrechoquent
violemment leurs cornes.</p>
<p>Ces joutes, que l'on peut observer toute l'année, permettent
d'établir la hiérarchie au sein d'une harde.</p>
<h3>Fiche d'identité</h3>
<table class="table table-hover">
  <tbody>
    <tr>
      <th>Nom latin</th>
      <td>Capra ibex</td>
    </tr>
    <tr>
      <th>Ordre</th>
      <td>Ongulés&nbsp;</td>
    </tr>
    <tr>
      <th>Nom commun</th>
      <td>Bouquetin, bouquetin des Alpes</td>
    </tr>
    <tr>
      <th>Répartition</th>
      <td>Arc alpin</td>
    </tr>
    <tr>
      <th>Différences mâle - femelle</th>
      <td>le mâle adulte (bouc) est trapu et possède de longues
cornes striées mesurant jusqu'à 1 m de long et pesant jusqu'à 8 kg.
Pour pouvoir supporter ce poids, son crâne est large, son cou possède
des muscles très développés et sa nuque est puissante. La femelle
(étagne) est plus petite et ses cornes, plus fines, ne dépassent pas 30
cm de long. Son pelage est plus clair que celui du mâle.&nbsp;</td>
    </tr>
    <tr>
      <th>Couleur</th>
      <td>brun clair en été, plus foncé l'hiver&nbsp;</td>
    </tr>
    <tr>
      <th>Longueur</th>
      <td>1.30 - 1.50 m (mâle), 1 - 1.25 m (femelle)</td>
    </tr>
    <tr>
      <th>Hauteur au garrot</th>
      <td>90 cm (mâle), 75 cm (femelle)&nbsp;</td>
    </tr>
    <tr>
      <th>Poids</td>
      <td>l'étagne pèse entre 40 et
50 kg, certains mâles peuvent peser jusqu'à 120 kg.&nbsp;</td>
    </tr>
    <tr>
      <th>Mode d'alimentation</th>
      <td> le bouquetin est herbivore. Comme le chamois il
s'alimente tôt le matin et le soir en fin de journée. Il passe le
restant de la journée à ruminer. Il se nourrit de graminées, de
légumineuses, de rhododendrons ou de mousses et peut même digérer les
lichens.&nbsp;</td>
    </tr>
    <tr>
      <th>Reproduction</th>
      <td> La période de
reproduction a lieu de mi-décembre à mi-janvier. La femelle met bas un
cabri tous les un à deux ans, en juin.&nbsp;</td>
    </tr>
    <tr>
      <th>Espérance de vie</th>
      <td> 15 à 20 ans, jusqu'à 22
ans</td>
    </tr>
  </tbody>
</table>
<h3>Trop confiant, il a failli disparaître...</h3>
<img alt="ressource-bouquetin-04" src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/jeunes-decouvreurs/ressources/ressource-bouquetin-04.jpg" class="img-responsive img-rounded" />
<p>Face à un danger, le bouquetin ne s'enfuit pas : il se réfugie
dans une paroi rocheuse où il se croit à l'abri.</p>
<p>Cette stratégie lui a permis pendant des millénaires
d'échapper aux prédateurs terrestres. Mais elle s'est révélée
inefficace face à l'homme après l'invention de l'arbalète et du fusil.</p>
<p>Résultat, le bouquetin a failli disparaître au 19e siècle. Il
n'a dû sa survie qu'à la protection mise en œuvre par l'Italie qui
hébergeait la dernière population de bouquetins.</p>
<h3>...avec l'aide de l'Homme, il revient pas à pas dans les Alpes</h3>
<p>Les réintroductions successives ainsi que sa protection dans
les autres pays des Alpes ont permis au bouquetin de re-coloniser peu à
peu tout l'arc alpin.</p>
<p>La première réintroduction en France a eu lieu dans le massif
des Cerces, en 1959.</p>
<img alt="ressource-bouquetin-05" src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/jeunes-decouvreurs/ressources/ressource-bouquetin-05.jpg" class="img-responsive img-rounded" />
<p>Dans le massif des Écrins, trois réintroductions ont eu lieu :
en 1977 dans l'Embrunais (qui n'a pas fonctionné), en 1989 dans le
Valbonnais, et en 1994-1995 dans le Champsaur. Depuis, de véritables
populations se sont installées et investissent progressivement les
vallées du massif.</p>
<h3>L'as du rocher</h3>
<p>Insensible au vertige et très agile, le bouquetin affectionne
les parois rocheuses abruptes.</p>
<p>Son sens de l'équilibre et ses sabots adhérents, véritables «
chaussons d'escalade », lui permettent de passer là où aucun autre
mammifère ne peut le suivre.</p>

<h3>La capture</h3>
<img alt="ressource-bouquetin-03" src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/jeunes-decouvreurs/ressources/ressource-bouquetin-03.jpg" class="img-responsive img-rounded" />
<p>Après avoir chargé son fusil téléanesthésique, un
garde-moniteur vise la cuisse d'un des bouquetins, et tire. La
seringue, repérable à son pompon rouge, part avec un claquement sec et
se plante dans la cuisse de la bête. Le bouquetin tressaille, court sur
quelques mètres, puis s'arrête.</p>
<p>Au bout de quelques minutes, il baisse la tête, puis ses
jambes fléchissent et il s'écroule, endormi par le produit
anesthésiant. Pendant son sommeil, les vétérinaires mesurent l'animal,
l'examinent et lui font une prise de sang. Les gardes le préparent pour
le transport vers le massif où est prévue la réintroduction.</p>
<p>Quinze animaux iront ainsi fonder une nouvelle population,
loin des parois rocheuses de leur naissance.</p>



