{assign scope="global" var="page_titre" value='Contact'}
<h4>Pour nous contacter</h4>
<p>Par courrier ou téléphone :</p>
<p class="well well-sm">Le Parc national des Ecrins - Domaine de Charance - 05000 GAP <br />Tel : +33(0)4 92 40 20 10</p>
<p>Par email :</p>
<p class="well well-sm">Il est possible de nous contacter par email en remplissant notre formulaire de contact.<br /><a href="http://www.ecrins-parcnational.fr/nous-contacter" target="_blank"><i class="icon-share-alt"></i>&nbsp;&nbsp;Contactez-nous par email.</a></p>