{assign scope="global" var="page_titre" value='Diego, le bouquetin "voyageur"'}

<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/actus/2013-07/2013-07-ibex-diego.jpg" class="img-responsive img-rounded"/></p>
<p><strong>Diego fait partie des 11 bouquetins équipés d'un collier émetteur et  "prénommés" par les écoliers de Pont-du-Fossé et d'Orcières. 
Depuis sa capture, il a déjà parcouru une bonne trentraine de kilomètres entre Champsaur et Vallouise.</strong></p>
<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/styles/pleine_page/public/article/11215/body/2013-07-ibex-diego-deplacement-02.jpg?itok=EmfAKctq" class="img-responsive img-rounded"/></p>
<p>Diego est un bouquetin "voyageur". Il compte parmi les 11 bouquetins équipés d'un collier émetteur GPS dont les agents du Parc national 
peuvent désormais suivre les déplacement... depuis leur ordinateur  ! 
Diego a été capturé dans le vallon du Tourond, il y est resté quelque temps, puis a quitté les lieux.</p>
<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/actus/2013-07/2013-06-scolaire-ibex1.jpg" class="img-responsive img-rounded"/></p>
<p>Bambinette, Pocoyo, Diego, Hachka, Fleur, Natsou, Bouqui, Clochette, Cornella, Linnt, Ribqui : 
les 11 bouquetins capturés et équipés de colliers et oreillettes ont reçu un prénom lors d'une sortie en montagne dans le vallon du Tourond.</p>
<p><a class="btn btn-primary pull-right" href="http://www.ecrins-parcnational.fr/actualite/diego-le-bouquetin-voyageur" target="_blank">Lire la suite de l'article</a></p>
