{assign scope="global" var="page_titre" value="Préserver la faune sauvage"}
<p><strong>N'oubliez pas... la faune sauvage reste sensible et vit éloignée des hommes.</strong></p>
<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/article/images_content/stories/actus/2013-10/2013-10-obs-600.jpg" alt="Observation des bouquetins" class="img-responsive img-rounded" /></p>
<p>Il est important de ne pas la déranger, surtout en période hivernale où le moindre stress peut causer une dépense d'énergie excessive, alors que la nourriture est peu abondante. Les animaux ont besoin de calme pour survivre lors de cette période difficile.
En période estivale, la rencontre avec les bouquetins doit se faire aux jumelles, n'essayez pas de les approcher, leur habitat est souvent difficile d'accès, voire dangereux.
S'ils le souhaitent ils viendront d'eux mêmes vous saluer de plus près.</p>

<p>Nous partageons avec vous ces données de localisation dans un but pédagogique et scientifique.</p>

<p><strong>Merci de respecter la quiétude des bouquetins... et de l'ensemble de la faune sauvage !</strong></p>