{assign scope="global" var="page_titre" value='Informations / A propos'}

<h4>Editeur</h4>
<p>Cette application est éditée par :</p>
<p class="well well-sm">Le Parc national des Ecrins - Domaine de Charance - 05000 GAP / Tel : +33(0)4 92 40 20 10<br />
Directeur de publication : Bertrand GALTIER
Conception - Réalisation technique : Parc national des Écrins
Crédit photos : Parc national des Écrins</p>

<h4>Développement</h4>
<p>Cette application est développée par :</p>
<p class="well well-sm">Le Parc national des Ecrins - Domaine de Charance - 05000 GAP / Tel : +33(0)4 92 40 20 10<p>
<p>Outils Open Source utilisés :</p>
<ul>
<li>Leaflet pour la cartographie,</li>
<li>Bootstrap pour la mise en forme, les pictogrammes et le responsive,</li>
<li>Smarty pour la gestions des templates,</li>
<li>Développée en PHP 5.3.</li>
</ul>
<h4>Hébergement</h4>
<p>Cette application est hébergée par :</p>
<p class="well well-sm">Le Parc national des Ecrins - Domaine de Charance - 05000 GAP / Tel : +33(0)4 92 40 20 10<p>
<p>Le serveur du Parc national des Ecrins est hébergé par la société OVH - 2 rue Kellermann - 59100 Roubaix - France.</p>

<h4>Traitement et protection des données</h4>
<p>
- Les données personnelles recueillies sur le site résultent de la communication volontaire d'une adresse de courrier électronique lors de l'envoi d'un formulaire. Les adresses électroniques ainsi recueillies ne servent qu'à transmettre les éléments d'information demandés.
<br />- Les adresses électroniques collectées ne feront l'objet d'aucune cession à des tiers. Le Parc national des Écrins n'utilise pas de procédés de collecte automatisée de données (cookies, applet java ou active X).
<br />- La loi "Informatique et Libertés" du 6 janvier 1978 modifiée par la loi du 6 août 2004 encadre la mise en oeuvre des fichiers ou des traitements de données à caractère personnel qu'ils soient automatisés ou manuels.
Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés").
Vous pouvez l'exercer par courriel en le précisant lors de votre demande.
</p>
<h4>Établissements de liens</h4>
<p>
- Lien depuis des sites tiers vers www.ecrins-parcnational.fr : le Parc national des Écrins autorise la mise en place d'un lien hypertexte depuis n'importe quel site Internet (sous réserve d'une information préalable), à l'exclusion de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre. Le site doit apparaître dans une nouvelle fenêtre. Les pages du site ne doivent en aucun cas être intégrées à l'intérieur des pages d'un autre site (Frame ou iframe). Dans tous les cas, le Parc national des Écrins se réserve le droit de demander la suppression d'un lien si il estime que le référent (site source) ne respecte pas les règles ainsi définies.

- Lien depuis www.ecrins-parcnational.fr vers des sites tiers : le Parc national des Écrins se réserve le droit de "pointer" vers des sites tiers. Accéder à ces liens ne vous fait pas quitter le site du Parc national des Écrins. Les sites cibles ne sont pas sous le contrôle du Parc national des Écrins, par conséquent celui-ci n'est pas responsable du contenu de ces sites, des liens qu'ils contiennent, ni des changements ou mises à jour qui leur sont apportés.
</p>
<h4>Dispositions légales - Propriété</h4>
<p>
Le fait d'accéder au site ne donne pas le droit de l'utiliser sans l'accord du Parc national des Écrins : tous les droits de reproduction sont réservés en vertu de l'article L.122-4 du code de la Propriété intellectuelle.
Toute utilisation des ressources (photographiques, iconographiques, textuelles ou relatives à la forme, la mise en page, la structure, les logotypes et les documents téléchargeables...) présentes sur ce site doit faire l'objet d'une autorisation express du Parc national des Écrins.
À titre principal, le Parc national des Écrins concède une autorisation de visualisation du contenu du site.
</p>
<h4>Responsabilité</h4>
<p>
Le Parc national des Écrins s'efforce de maximiser l'exactitude des informations mais ne peut la garantir ni en établir l'exhaustivité. Le Parc national des Écrins décline donc toute responsabilité en cas d'erreur ou d'omission.
Le Parc national des Écrins se réserve le droit de modifier, tout ou partie des informations contenues dans les pages de ce site Internet, à tout moment et sans notification préalable.
Il appartient à l'utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d'éventuels virus circulant sur le réseau Internet. De manière générale, le Parc national des Écrins décline toute responsabilité à un éventuel dommage survenu pendant la consultation du présent site.
</p>
<h4>Lois de référence</h4>
<p>
Loi 78-17 du 6 janvier 1978 Loi relative à l'informatique, aux fichiers et aux libertés
Loi du 29 juillet 1881 Loi sur la liberté de la presse
Loi 2000-719 du 1er août 2000 Extrait de la loi portant sur la responsabilité des prestataires techniques
</p>
