{assign scope="global" var="page_titre" value='Contact'}
<h4>Pour nous contacter</h4>
<p>Par courrier ou téléphone :</p>
<p class="well well-sm">Votre structure - adresse - CP VILLE <br />Tel : +33(0)0 00 00 00 00</p>
<p>Par email :</p>
<p class="well well-sm">Il est possible de nous contacter par email en remplissant notre formulaire de contact.<br /><a href="{config::get('emailContact')}" target="_blank"><i class="icon-share-alt"></i>&nbsp;&nbsp;Contactez-nous par email.</a></p>