{assign scope="global" var="page_titre" value='Légendes de la carte'}

<h4>Outils sur la carte</h4>
<ul class="list-group">
	<li class="list-group-item"><img src="images/layers.png" >&nbsp;Sélectionnez le fond de carte et les éléments à afficher</li>
	<li class="list-group-item"><i class="glyphicon glyphicon-zoom-in"></i> <i class="glyphicon glyphicon-zoom-out"></i> Zoomer sur la carte</li>
</ul>
<h4>Eléments affichés</h4>
<ul class="list-group">
	<li class="list-group-item">Derniers point de l'objet traqué</li>
	<li class="list-group-item">Point de départ lors de l'affichage d'un tracé</li>
	<li class="list-group-item">Tracé linéaire entre 2 points</li>
	<li class="list-group-item">Direction du déplacement</li>
</ul>
