{assign scope="global" var="page_titre" value="monTitre"}

<p><img src="images/img1sousItem1.jpg" alt="image1" class="img-responsive img-rounded"/></p>
<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Vivamus tempus tempus accumsan. 
Proin commodo semper leo sit amet elementum. 
Mauris ligula lectus, auctor ut pharetra pretium, mattis at ipsum. 
Proin nec lacus mattis, fringilla lectus elementum, finibus ipsum. 
Mauris hendrerit amet. </strong></p>
<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;"><iframe allowfullscreen="" width="100%" height="300" frameborder="0" src="http://www.dailymotion.com/embed/video/x11ykcw"></iframe></div>
<div><img src="images/img3sousItem2.jpg" target="_target"/></div>
<p><a class="btn btn-primary pull-right" href="" target="_blank">Lire la suite de l'article</a></p>
		