{assign scope="global" var="page_titre" value='Informations / A propos'}

<h4>mon titre h4</h4>
<p>Lorem ipsum dolor sit amet nullam :</p>
<p class="well well-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Phasellus nec eleifend sem. 
Pellentesque vitae nisl in purus tempus facilisis. 
Quisque metus arcu, pharetra eu arcu at, egestas fringilla libero. 
Integer faucibus felis turpis turpis duis. </p>

<h4>mon titre h4</h4>
<p>Lorem ipsum dolor sit amet massa nunc :</p>
<p class="well well-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id velit vitae lectus sed.<p>
<p>Outils Open Source utilisés :</p>
<ul>
<li>Leaflet pour la cartographie,</li>
<li>Bootstrap pour la mise en forme, les pictogrammes et le responsive,</li>
<li>Smarty pour la gestions des templates,</li>
<li>Développée en PHP 5.3.</li>
</ul>
<h4>mon titre h4</h4>
<p>Cette application est hébergée par :</p>
<p class="well well-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id velit vitae lectus sed.<p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque id tortor vitae placerat. In amet.</p>

<h4>mon titre h4</h4>
<p>
- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eu justo sem. Integer iaculis nibh scelerisque erat elementum, at fringilla augue euismod. Nullam a augue ut nibh faucibus lacinia. Vivamus et placerat dui, sed consequat ex. In pellentesque, dui vel sed. 
<br />- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet est ex. Suspendisse nec lacus nec mauris tempor pellentesque nec ut nunc. Cras a massa orci. Aliquam mollis arcu lacinia, facilisis posuere. 
<br />- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis tortor id ante semper convallis at semper nisl. Fusce sed libero rhoncus, iaculis risus vitae, auctor dolor. Nam blandit tellus et gravida amet. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Nam et ex faucibus, vestibulum justo vel, aliquet est. 
Aliquam venenatis ligula eget dolor feugiat feugiat. 
Aliquam erat volutpat. 
Fusce fringilla, nisi at mollis fermentum, est amet. 
</p>
<h4>mon titre h4</h4>
<p>
- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum eleifend sagittis. Nulla vehicula libero purus, semper finibus lorem lobortis feugiat. Nullam dignissim turpis dui, eu posuere metus scelerisque a. Nullam vitae maximus turpis. Sed consectetur vulputate eleifend. Vestibulum vel varius sem. Sed tempus euismod commodo. Etiam nec fringilla odio, ut congue augue.

Ut aliquam, orci ut euismod varius, sapien turpis aliquet arcu, id tempor magna nibh nec risus. Duis ultricies molestie libero a scelerisque. Duis tempus, elit ac condimentum dignissim, augue mi ultrices neque, id porta tortor libero vel urna. Nulla sagittis semper finibus. Aliquam varius, tellus id maximus lacinia, turpis nisl placerat odio, eu consequat risus orci a dolor amet. 

- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet eleifend velit, nec semper lacus. Nulla varius euismod turpis, eget pretium ex placerat eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vel rhoncus risus. Sed convallis risus sit amet est tempus, et cursus augue egestas. Curabitur convallis id odio at interdum. In lobortis velit vel blandit sodales. Curabitur ut lacus velit. Integer vel elit ullamcorper cras amet. 
</p>
<h4>mon titre h4</h4>
<p>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu enim egestas, condimentum turpis quis, tempor lectus. Integer porta egestas leo, et tempus nibh dignissim vitae. Quisque consectetur libero sit amet gravida sodales. Quisque eros dui, venenatis in sapien a, elementum interdum sem. Donec a elit consectetur, viverra nibh vel, maximus erat. Vestibulum pharetra, nisl eu gravida auctor, enim massa porta sapien, ac eleifend odio erat sed orci. Donec laoreet odio sit amet pharetra vulputate.

Integer eleifend, neque volutpat dictum pretium, nisl nibh rhoncus tortor, a porta orci tortor dictum nullam. 
</p>
<h4>mon titre h4</h4>
<p>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis gravida ipsum. Nunc ullamcorper porttitor fermentum. Sed non malesuada ligula, lacinia rutrum felis. Proin eu massa turpis. In ac felis non leo volutpat ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus quis convallis nulla. Donec porttitor pretium felis nec accumsan. Donec neque metus, fermentum quis nulla at, vehicula scelerisque ex. Suspendisse potenti. Praesent vitae pretium mauris, mattis lacinia tellus. Maecenas vehicula placerat molestie.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus massa tortor, porta a condimentum non, fringilla sodales nunc. In viverra pretium sodales posuere. </p>
<h4>mon titre h4</h4>
<p>
Loi 78-17 du 6 janvier 1978 Loi relative à l'informatique, aux fichiers et aux libertés
Loi du 29 juillet 1881 Loi sur la liberté de la presse
Loi 2000-719 du 1er août 2000 Extrait de la loi portant sur la responsabilité des prestataires techniques
</p>
