{assign scope="global" var="page_titre" value='Le Parc national des Ecrins'}

<p><img src="http://www.ecrins-parcnational.fr/sites/ecrins-parcnational.com/files/page/930/body/carte-generale-pne-simplifiee.jpg" class="img-responsive img-rounded"/></p>
<h3>Qu'est-ce qu'un parc national ?</h3>
<p>C’est un territoire généralement vaste dont la richesse biologique, la qualité paysagère, 
l’intérêt culturel et le caractère historiquement préservé justifient une protection et une gestion qui garantissent 
la pérennité de ce patrimoine considéré comme exceptionnel.
Depuis la loi du 14 avril 2006, le parc est composé d'un cœur réglementé et d'une aire d’adhésion.</p>
<p><a class="btn btn-primary pull-right" href="http://www.ecrins-parcnational.fr/linstitution-et-le-territoire" target="_blank">Lire la suite</a></p>