{strip}{literal}{"type": "FeatureCollection",
    "features": 
	[
	{/literal}
{literal}
        {
            "geometry": {
                "type": "LineString",
                "coordinates": [{/literal}
				{assign var=cpt value=1}
				{assign var=gps_data value=$animal->getAnalysis()}
				{foreach $gps_data as $data}
					[{$data->getLongitude()},
					{$data->getLatitude()}]
					{if $cpt < count($gps_data)},{/if}
					{assign var=cpt value=$cpt+1}
				{/foreach}]	
{literal}   },
            "type": "Feature",
            "properties": {
{/literal}
                "nom": "{$animal->getName()}"
{literal}   },{/literal}
            
			"id": {$animal->getId()}
{literal} 
		}
	]
}{/literal}
{/strip}