{strip}{literal}{"type": "FeatureCollection",
    "features":
	[
	{/literal}
		{assign var=cpt value=1}
		{assign var=gps_data value=$animal->getGpsData()}
		{assign var=first value=1}
        {foreach $gps_data as $data}
{literal} {
            "geometry": {
                "type": "Point",
				"coordinates": {/literal}[{$data->getLongitude()},{$data->getLatitude()}]
{literal}   },
            "type": "Feature",
            "properties": {
{/literal}
                "first":{if $cpt==1}1{else}0{/if},
				"{traduction::t('Nom')}": "{$animal->getName()}",
				"{traduction::t('Date')}": "{$data->getGpsDate()}",
				"{traduction::t('Altitude')}": "{$data->getAltitude()}",
				"{traduction::t('Temperature')}": "{$data->getTemperature()}"
{literal}
			}
        }{/literal}{if $cpt < count($gps_data)},{/if}{assign var=cpt value=$cpt+1}
		{/foreach}
	]
}{/strip}