<!DOCTYPE html>
<html lang="fr">
  {include file="head.inc.tpl.html"}

  <body>

    {include file="nav.inc.tpl.html"}

    <div class="row" id="container">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4" id="sidebar">
            <img src="images/logo.jpg" alt="logo FollowDem" class="pull-left" />
			<p>{traduction::t('Texte indroduction')}</p>
			<p>&nbsp;</p>
		   <div class="panel panel-success">
			   
				 <div class="panel-heading">{traduction::t('Entete liste tracked_objects')} 
					<select id='periode'>
					{foreach $periode_valeurs as $periodes}
						<option value="{$periodes}" {if $periodes == $periode_min}selected{/if}>{$periodes}</option>
					{/foreach}
					</select> {traduction::t('Slide derniers jours')}
				
				
				 {* <input id="slider" name="periode" class="slider" type="text" data-slider="true" data-slider-highlight="true" data-slider-range="{$periode_min},{$periode_max}" {if ($periode_valeurs !='')}data-slider-values="{$periode_valeurs}"{/if}  data-slider-step="1" value="{$periode_min}" />*}
				 </div>
				 <div class="panel-body" style="padding: 0px 15px;">
				   {foreach $objets as $tracked_objects}
					<div id="{$tracked_objects->get_id()}" class="tracked_objects">
					{if $propcouleur != ''}
						<div class="color">
							
								{assign var="color" value=$tracked_objects->get_object_feature($propcouleur)}
								{assign var="filcolor" value=$tracked_objects->get_object_feature($propfilcolor)}
								{*assign var="rel_color" value=config::get('recupe_couleur_code',$color)*}
								{*assign var="rel_filcolor" value=config::get('recupe_couleur_code',$filcolor)*}
								<div style="background-color:{$color}">
									<div style="background-color:{$filcolor};padding:6px;"></div>
								</div>
							
						</div>
					{/if}
						<h3>{if $tracked_objects->get_object_feature('sexe')}<img src="images/{if $tracked_objects->get_object_feature('sexe')=='M'}male{else}women{/if}.png" width="18" height="18" />&nbsp;&nbsp;{/if}{$tracked_objects->get_nom()}</h3>
						<div>{if $tracked_objects->get_object_feature('naissance')}{assign var="annee" value=$smarty.now|date_format:"%Y"}{assign var="anneebouquetin" value=$tracked_objects->get_object_feature('naissance')}{assign var="age" value=$annee-$anneebouquetin}<strong><small>{$age} ans</small></strong>{/if}</div>
					</div>
				{/foreach}
				</div>
			</div>
        </div>
        <div id="map" class="col-xs-12 col-sm-12 col-md-7 col-lg-8" >
            <div id="loading" style="display: block;">
                <div class="loading-indicator">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" type="button" rel="tooltip" class="toggle btn btn-default" data-toggle="tooltip" data-placement="right" title="Cacher/Montrer la liste"><i class="icon-chevron-left"></i></a>
	<div class="modal fade" id="modalepage" data-refresh="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

	<div class="modal fade" id="error">
		<div class="modal-dialog">
			
			 <div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Erreur !</h4>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger"><p>{traduction::t('error_ajax')}</p></div>
					<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button></div>
				</div>
			</div>
		</div>
	</div><script type="text/javascript" src="js/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="js/leaflet/leaflet.polylineDecorator.min.js"></script>
	{if $leaflet_gmap}
		<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
		<script src="js/leaflet/Google.js"></script>
	{/if}
	{strip}{$content}{include file="bottom.inc.tpl.html"}{/strip}
</body>
</html>
