{*Template pour l'affichage des pages sans modal*}
{include file=$template assign="page_content"}
<!DOCTYPE html>
<html lang="fr">
  {include file="head.inc.tpl.html"}
  <body>
    {include file="nav.inc.tpl.html"}

   <div class="container" style="margin-top:80px;">
		<div id="page">
			<h3>{$page_titre}</h3>
			{$page_content}
		</div>
	</div>
	<div class="modal fade" data-refresh="true" id="modalepage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	{include file="bottom.inc.tpl.html"}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7988554-6']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
