{include file=$template assign="page_content"}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">{$page_titre}</h4>
		</div>
		<div class="modal-body">
			{$page_content}
		</div>
		<div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">{traduction::t('Fermer')}</button></div>
	</div>
</div>